*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-size: 17px !important;
  font-family: sans-serif !important;
  font-weight: 500 !important;
}
ul,li{
  list-style: none;
}
li{
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: 10px;
  padding:0 2rem;
}
li:hover{
  color: #fff !important;
  border-left:  3px solid  #1890ff ;
  border-right:  3px solid #1890ff ;
  background-color:#fff;

}
button{
  cursor: pointer;
}
